[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
requests = "*"
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"
python-dotenv = "*"
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
